* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #ffffff;
}
#root {
  overflow-x: hidden;
}
.withBg {
  color: #444444;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
nav {
  padding: 20px 0;
}
header {
  padding: 10px 0;
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 0;
  /*background-color: #171718;*/
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  transition: transform 0.5s ease-in;
}

.nav-item {
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
}

.nav-item + .nav-item {
  margin-left: 20px;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
}

.nav-link::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 80px;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  background-color: #d90429;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.2s;
}

.nav-link:hover::after {
  transform: scaleX(0.5);
  transform-origin: left;
}

.nav-link-active::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 10px;
  height: 2px;
  width: 80px;
  left: 0;
  bottom: 0;
  background-color: #d90429;
  transform: scaleX(0.5);
  transition: all 0.2s;
}

.logo {
  height: 45px;
}

.home {
  position: relative;
  height: 100vh;
  text-align: center;
}
.home-bg {
  filter: brightness(75%);
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin: 0 auto;
  max-width: 700px;
}
.home-wrapper {
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  padding: 60px 100px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0deg 0% 22.98% / 47%);
}
.home h1 span {
  color: #5151b9;
}

.home p {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.button {
  background-color: #5151b9;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  transition: all 0.2s;
}

.button:hover {
  background-color: #35357a;
}

.title {
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 30px;
}

/*About*/

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  color: #000000;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  column-gap: 50px;
  padding: 25px;
}

.img-about {
  width: 400px;
  border-radius: 20px;
}
.about-content-inner .title {
  color: #111e37;
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: none;
}
.about-content-inner p {
  margin: 15px 0;
  color: #494949;
  font-size: 20px;
}

.knowladge {
  color: #000000;
  background-color: #edeef5;
  background-image: url('assets/images/BL - Business Sectors - Construction copy 2.jpg');
  background-position: 10% 70%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 50px;
  margin-bottom: 80px;
  padding-bottom: 90px;
}

.knowladge h2 {
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  width: 50%;
}

.knowladge-icon {
  width: 50px;
  margin-right: 10px;
}
.knowladge-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.knowladge-inner-card {
  padding: 20px;
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  background: linear-gradient(#ffffff, #ffffff 50%, #edeef5 50%, #edeef5);
  background-size: 100% 200%;
  transition: background 0.4s;
}
.knowladge-inner-card img {
  width: 50px;
  height: 50px;
}

.knowladge-inner-card:hover {
  background-position: 100% 100%;
}
.knowladge-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-left: auto;
  transition: all 0.3s;
  width: 50%;
  row-gap: 35px;
}

/*Projects*/

.projects-main,
.contacts,
.gallery {
  margin-top: 150px;
  text-align: center;
}

.projects-img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.projects-about,
.projects-fonts {
  margin-top: 100px;
}

/*Contacts*/

.contacts {
  color: #000000;
}

/*.contacts-form{*/
/*  height: 100vh;*/
/*  color: #000000;*/
/*  position: relative;*/
/*  padding-top: 150px;*/
/*  padding-bottom: 100px;*/
/*}*/
.contact-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}
.contacts-wrapper {
  position: relative;
  height: 80vh;
}
/*.contacts-form form {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  width: 55%;*/
/*  background-color: #f3f3f3b0;*/
/*  box-shadow: 8px 6px 9px 3px rgba(146, 146, 146, 0.27);*/
/*  border-radius: 8px;*/
/*  margin-bottom: 80px;*/
/*  padding: 25px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  line-height: 30px;*/
/*}*/
.contacts-form {
  color: #444444;
}
.contacts-form h3 {
  font-size: 35px;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: none;
  margin-bottom: 30px;
}
.contacts-form form {
}
.contact-details {
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  background-color: hsl(0deg 0% 100% / 35%);
  backdrop-filter: blur(0.3em);
  padding: 30px 80px 30px 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  justify-items: center;
  width: 50%;
}
.contact-details h3 {
  margin: 10px 0;
}

.contacts-form input,
.contacts-form textarea {
  padding: 15px 20px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
  color: #000000;
}
.contacts-form input:focus,
.contacts-form textarea:focus {
  border: none;
}

.contacts-form textarea {
  height: 100px;
  margin-bottom: 15px;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.form-btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
}

.contacts-btn {
  text-align: center;
}

/*Gallery*/

.carousel img {
  height: 500px;
}

/*Footer*/

footer {
  background-color: #edeef5;
  color: #444444;
  box-shadow: 0 0 5px 5px rgba(47, 47, 47, 0.24);
  padding: 50px 0;
}

.footer {
  display: flex;
}

.footer-item + .footer-item {
  margin-left: 130px;
}

.footer-logo {
  margin-right: 130px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.footer-item a {
  font-size: 14px;
  margin-top: 20px;
}

.footer-social img {
  width: 30px;
  margin-right: 5px;
  fill: #444444;
}
.footer-social img svg {
  fill: #444444;
}

.footer-social a {
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
}
footer a:hover {
  color: #d90429;
}
footer a:hover img {
  fill: #d90429;
}

.black-btn {
  padding: 19px 30px;
  border-radius: 4px;
  background-color: #282424;
  transition: all 250ms ease;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  border: none;
}

.black-btn:hover {
  background-color: #383838;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.24);
}
.about {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 150px 0 128px;
}
.about-bg {
  background-image: url(assets/images/breadcrumb.jpg);
  position: absolute;
  top: -20px;
  left: 0;
  bottom: -20px;
  right: 0;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.about h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 900;
}

.contacts-inner {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 2fr 1.5fr;
  margin: 80px 0 30px;
}
.contacts-items {
  margin-top: 35px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.contact-item {
  text-align: left;
  margin-left: 15px;
}
.contact-item h4 {
  margin: 5px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}
.contact-item p {
  color: #444444;
  font-size: 16px;
  line-height: 26px;
}
.services {
  padding: 100px 0;
  background-color: #edeef5;
}
.services h1 {
  text-align: center;
  color: #111e37;
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: none;
}
.services-text {
  text-align: center;
  color: #494949;
  margin: 30px 0 50px;
}
.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.service {
  background-color: #ffffff;
  color: #444444;
  border-radius: 8px;
  position: relative;
}
.service-content {
  padding: 10px 40px 25px;
}
.service-content p {
  font-weight: 500;
  color: #444444;
  font-size: 17px;
}
.service-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  height: 210px;
  width: 100%;
}
.service-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 4;
  transition: all 500ms ease;
  background-image: linear-gradient(
    0deg,
    #111e37 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
.service-icon {
  background-color: #ffffff;
  display: flex;
  margin-top: 5px;
  align-items: center;
  padding: 0 30px;
  line-height: 0;
}
.service-icon h4 {
  color: #111e37;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 2px;
  margin-left: 10px;
}
.service-icon img {
  width: 55px;
  height: 55px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  margin: 80px auto;
  color: #444444;
}
.gallery-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 80px;
  align-items: center;
  gap: 30px;
}
.gallery-item:nth-child(even) {
  grid-template-columns: 1fr 2fr;
}
.gallery-item:nth-child(even) .gallery-content {
  grid-row: 1;
}
.gallery-content {
  text-align: left;
  margin-top: 20px;
}
.gallery-content h3 {
  margin-bottom: 50px;
  font-size: 45px;
  color: #111e37;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: none;
}
.gallery-content {
  color: #494949;
  font-size: 22px;
  margin: 30px 0 50px;
}

.hamburger-lines {
  display: none;
  height: 26px;
  width: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.map {
  border: none;
  margin: 80px 0;
}
.hamburger-lines .line1 {
  transform-origin: 0 0;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0 100%;
  transition: transform 0.4s ease-in-out;
}

.slider {
  max-height: 400px;
  min-height: 400px;
}
.contacts-items img {
  width: 40px;
  height: 40px;
}
@media (max-width: 1250px) {
  .services-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .knowladge h2 {
    width: 100%;
  }
  .knowladge-inner {
    width: 100%;
  }
  .footer-item + .footer-item {
    margin-left: 50px;
  }
  .about-content-inner .title {
    font-size: 30px;
  }
  .about-content-inner p {
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  header ul {
    transform: translateX(1000px);
    position: absolute;
    background-color: #ffffff;
    color: #444444;
    top: 69px;
    left: 0;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    right: 0;
    display: block;
  }
  header ul.show {
    transform: translateX(0);
  }
  header ul .nav-item + .nav-item {
    margin: 0;
  }
  header ul .nav-link {
    padding: 15px 0;
    font-size: 20px;
    display: block;
  }
  header ul .nav-link:hover {
    background-color: #edeef5;
  }
  .nav-link-active {
    background-color: #edeef5;
  }

  header ul .nav-link:after {
    display: none;
  }
  .hamburger-lines {
    display: flex;
    cursor: pointer;
  }
  .hamburger-lines.show .line3 {
    transform: rotate(-45deg);
  }
  .hamburger-lines.show .line1 {
    transform: rotate(45deg);
  }
  .hamburger-lines.show .line2 {
    transform: scaleY(0);
  }
  .black-btn {
    padding: 10px 16px;
    font-size: 17px;
  }
  .home h1 {
    font-size: 40px;
  }
  .home p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .home-wrapper {
    padding: 40px 30px 45px;
  }
  .about h1 {
    font-size: 44px;
  }
  .about {
    padding: 115px 0 70px;
  }
  .about-content {
    grid-template-columns: 1fr;
    margin: 30px auto;
  }
  .about-content img {
    width: 100%;
    height: 500px;
  }
  .about-content-inner .title {
    text-align: center;
    margin-top: 15px;
  }
  .footer {
    flex-wrap: wrap;
    gap: 20px;
  }
  .services-wrapper {
    grid-template-columns: 1fr;
  }
  .service-icon {
    top: initial;
    left: 0;
    bottom: 5%;
    justify-content: center;
  }
  .service-content {
    padding: 20px;
    text-align: center;
  }
  .services {
    padding: 30px 0;
  }
  .services h1 {
    font-size: 40px;
  }
  .gallery {
    margin: 30px auto;
  }
  .gallery-content h3 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .gallery-item {
    grid-template-columns: 1fr;
  }
  .gallery-item .gallery-content {
    grid-row: 1;
  }
  .gallery-item:nth-child(2) {
    grid-template-columns: 1fr;
  }
  .gallery-content {
    margin: 0;
  }
  .slider {
    max-width: 100%;
    max-height: 500px;
  }
  .gallery-item {
    margin-bottom: 50px;
  }
  .contacts-inner {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .contacts-inner {
    margin: 30px 0;
  }
  .map {
    margin: 30px 0;
  }
  .contacts-items {
    grid-template-columns: 1fr;
  }
  .contacts-form h3 {
    font-size: 30px;
  }
  .gallery-content h3 {
    font-size: 30px;
  }
  .gallery-content p {
    font-size: 18px;
  }
  .service-icon img {
    display: none;
  }
  .service-icon {
    justify-content: center;
  }
  .service-icon h4 {
    font-size: 17px;
  }
  .service-content {
    padding: 5px;
    text-align: center;
  }
  .services h1 {
    font-size: 30px;
  }
  .services-text {
    font-size: 15px;
    margin: 15px 0 25px;
  }
  .service-content h4 {
    font-size: 20px;
  }
  .service-content p {
    font-size: 15px;
  }
  .home h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .home p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .home-wrapper {
    width: 314px;
    padding: 30px 15px 35px;
  }
  .black-btn {
    padding: 10px 16px;
    font-size: 13px;
  }
  .about h1 {
    font-size: 30px;
  }
  .footer-item + .footer-item {
    margin-left: 0;
  }
  nav {
    padding: 10px 0;
  }
  header ul {
    top: 66px;
  }
  .about {
    padding: 110px 0 70px;
  }
  .about-content img {
    height: 300px;
  }
  .knowladge-inner {
    grid-template-columns: 1fr;
  }
  .knowladge h2 {
    font-size: 30px;
  }

  .knowladge-inner-card {
    padding: 15px;
  }
  .footer-logo {
    margin-right: 20px;
  }
  .footer {
    justify-content: center;
  }
}
