*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  margin: 0;
  font-size: 16px;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #ffffff;
}

.withBg {
  color: #444444;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  padding: 10px 0;
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 0;
  /*background-color: #171718;*/
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul{
  display: flex;
}

.nav-item{
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
}

.nav-item + .nav-item{
  margin-left: 20px;
}

.nav-link{
  position: relative;
  padding-bottom: 8px;
}

.nav-link::after{
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #242428;
  transform: scaleX(0);
  transition: all 0.2s;
}

.nav-link:hover::after{
  transform: scaleX(1);
}

.nav-link-active::after{
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #242428;
  transform: scaleX(1);
  transition: all 0.2s;
}

.logo{
  height: 45px;
}

.home{
  position: relative;
  height: 100vh;
  text-align: center;
}
.home-bg {
  filter: brightness(75%);
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin: 0 auto;
  max-width: 700px;
}
.home-wrapper {
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  padding: 60px 100px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0deg 0% 22.98% / 47%);
}
.home h1 span{
  color: #5151b9;
}

.home p{
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.button{
  background-color: #5151b9;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  transition: all 0.2s;
}

.button:hover{
  background-color: #35357a;
}

.title{
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 30px;
}


/*About*/

.about-content{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  color: #000000;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  column-gap: 20px;
  padding: 25px;
}

.img-about{
  width: 300px;
  border-radius: 20px;
}

.about-content-inner p{
  margin: 15px 0;
  line-height: 28px;
}

.knowladge{
  color: #000000;
  background-color: #edeef5;
  background-image: url("assets/images/BL - Business Sectors - Construction copy 2.jpg");
  background-position: 10% 70%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 50px;
  margin-bottom: 80px;
  padding-bottom: 90px;
}

.knowladge h2{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  width: 50%;
}

.knowladge-icon{
  width: 50px;
  margin-right: 10px;
}
.knowladge-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.knowladge-inner-card{
  padding: 20px;
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  background: linear-gradient(#ffffff, #ffffff 50%, #edeef5 50%, #edeef5);
  background-size: 100% 200%;
  transition: background 0.4s;
}
.knowladge-inner-card:hover {
  background-position: 100% 100%;
}
.knowladge-inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-left: auto;
  transition: all 0.3s;
  width: 50%;
  row-gap: 35px;
}


/*Projects*/

.projects-main,
.contacts,
.gallery{
  margin-top: 150px;
  text-align: center;
}

.projects-img{
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.projects-about,
.projects-fonts{
  margin-top: 100px;
}


/*Contacts*/

.contacts {
  color: #000000;
}

/*.contacts-form{*/
/*  height: 100vh;*/
/*  color: #000000;*/
/*  position: relative;*/
/*  padding-top: 150px;*/
/*  padding-bottom: 100px;*/
/*}*/
.contact-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}
.contacts-wrapper {
  position: relative;
  height: 80vh;
}
/*.contacts-form form {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  width: 55%;*/
/*  background-color: #f3f3f3b0;*/
/*  box-shadow: 8px 6px 9px 3px rgba(146, 146, 146, 0.27);*/
/*  border-radius: 8px;*/
/*  margin-bottom: 80px;*/
/*  padding: 25px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  line-height: 30px;*/
/*}*/
.contacts-form {
  color: #444444;
}
.contacts-form h3{
  font-size: 35px;
  line-height: 1.2em;
  font-weight: 900;
  text-transform: none;
  margin-bottom: 30px;
}
.contacts-form form {

}
.contact-details {
  box-shadow: 0 0 10px 4px rgba(146, 146, 146, 0.27);
  border-radius: 10px;
  background-color: hsl(0deg 0% 100% / 35%);
  backdrop-filter: blur(0.3em);
  padding: 30px 80px 30px 30px;
 text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 20px;
  justify-items: center;
  width: 50%;
}
.contact-details h3 {
  margin: 10px 0;
}

.contacts-form input,
.contacts-form textarea{
  padding: 15px 20px;
  border: 1px solid #e1e1e1;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
  color: #000000;
}
.contacts-form input:focus,
.contacts-form textarea:focus {
  border:none;
}

.contacts-form textarea{
  height: 100px;
  margin-bottom: 15px;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder{
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.form-btn{
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
}

.contacts-btn{
  text-align: center;
}

/*Gallery*/

.carousel img{
  height: 500px;
}


/*Footer*/

footer{
  background-color: #edeef5;
  color: #444444;
  box-shadow: 0 0 5px 5px rgba(47, 47, 47, 0.24);
  padding: 50px 0;
}

.footer{
  display: flex;
}

.footer-item+.footer-item{
  margin-left: 130px;
}

.footer-logo{
  margin-right: 130px;
}

.footer-item{
  display: flex;
  flex-direction: column;
}

.footer-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.footer-item a{
  font-size: 14px;
  margin-top: 20px;
}

.footer-social img{
  width: 40px;
  margin-right: 15px;
}

.footer-social a{
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
}

.black-btn{
  padding: 19px 30px;
  border-radius: 4px;
  background-color: #282424;
  transition: all 250ms ease;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  border: none;
}

.black-btn:hover {
  background-color: #383838;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.24);
}
.about {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 150px 0 128px;
}
.about-bg {
  background-image: url(assets/images/breadcrumb.jpg);
  position: absolute;
  top: -20px;
  left: 0;
  bottom: -20px;
  right: 0;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.about h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 900;
}

.contacts-inner {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 2fr 1.5fr;
  margin: 80px 0 30px;
}
.contacts-items {
  margin-top: 35px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.contact-item {
  text-align: left;
  margin-left: 15px;
}
.contact-item h4{
  margin: 5px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}
.contact-item p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
}